<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Frm_Giris.Properties.Settings.StokKontrolConnectionString"
            connectionString="Data Source=LAPTOP-PSSP83FQ\SQLEXPRESS;Initial Catalog=StokKontrol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>